# Python
__pycache__/
*.py[cod]
*.pyo
.mypy_cache/
.ruff_cache/

# Environment
.env
*.conda
*.egg-info/
dist/
build/

# Logs
logs/
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.DS_Store

# Local notes
*.docx
